main p{
	margin-left: 2%;
	margin-right: 6%;
	font-family: ariel, sans-serif;
	line-height: 1.5;
}

#meta-data-container{
	/*background-color: #f0ffe4;*/
	max-width: 20%;
	padding: 1% 0% 1% 1%;
	border-style: dashed;
	border-width: 2px 0px 2px 0px;
	border-color: #d7d7d7;
}

#meta-data-container img{
	padding-right: 10px;
}

.md-tag{
	background-color: #cbeeff;
	border-radius: 3px;
	padding: 0px 4px 0px 4px;
	margin-right: 4px;
}

.pros-cons-box{
	background-color: #FCFCFC;
	width: 60%;
	padding: 5px;
	font-family: ariel, sans-serif;
	line-height: 1.2;
	overflow: auto;
}

.pros-cons-box > div:nth-of-type(1) {
	background-color: #e9ffb9;
	width: 50%;
	float: left;
}

.pros-cons-box > div:nth-of-type(2) {
	background-color: #ffe5e5;
	width: 50%;
	float: left;
}

@media (max-width:600px)  {
	
	main p{
		margin-left: 2%;
		margin-right: 2%;
	}
	
	#meta-data-container{
		max-width: 90%;
	}
	
	.pros-cons-box{
		width: auto;
	}
	
	.pros-cons-box > div{
		width: 100% !important;
	}
}